.cart-container {
    max-width: 450px;
    min-height: 250px;
    margin: 0 auto; /* Center the cart horizontally */
    /* margin-top: 0px; Add top margin for space between header and cart */ 
    margin-top: 90px;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 0px 20px; /* Padding for top and bottom */
     display: flex;
    flex-direction: column;
}




.card{
    padding-top: 80px;
}
.cart-title {
    color: #2E2E2E;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: -40px;
}

.cart-items {
    max-height: 280px;
    overflow-y: auto;
}

.total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.place-order-button {
    padding: 10px 15px;
    background-color: #C5A580;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.place-order-button:hover {
    background-color: #2E2E2E;
}

.confemp{
    text-align: center;
}
.cart-item {
    display: flex;
    align-items: center; /* Vertically center the item */
    justify-content: space-between; /* Space between the image and text */
    border-bottom: 1px solid #e0e0e0; /* Light border between items */
    padding: 10px 0; /* Padding for the item spacing */
}

.cart-item:last-child {
    border-bottom: none; /* No border on the last item */
}

.cart-item img {
    width: 40px; /* Width of product images */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 4px; /* Slightly rounded corners for images */
    margin-right: 10px; /* Space between the image and text */
}

.cart-total {
    font-size: 20px; /* Font size for the total amount */
    font-weight: bold; /* Make the total prominent */
    margin-top: 10px; /* Top margin for space above the total */
}

.cart-item svg {
    width: 20px; /* Adjust size for the delete icon */
    height: 20px; /* Adjust size for the delete icon */
    color: grey; /* Color of the delete icon */
    margin-right: 20px; /* Space to the right of the icon */
}
