.first-part {
    background-color: black; 
    text-align:start; 
  }
  
  .first-image {
    padding-top: 100px;
    width: 50%; 
    height:80vh;
    max-width:400px; 
  }
  .text-container {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%); 
    color: white;
    text-align: center; 
  }
  
  .title {
    color: #C5A580;
    margin: 0; 
    text-align: center;
    font-size: 3em;
  }
  
  .subtitle {
    color: white;
    padding-top: 50px; 
    text-align: center;
    -webkit-text-stroke: 0.3px #C5A580 ; 
  }


.shop-button {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: black;
    color: #C5A580;
    border: 2px solid #C5A580;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;

  }
  
  .shop-button:hover {
    background-color: #C5A580; 
    color: black; 
  }
  
  body{
    padding: 0;
    margin: 0;
  }

  
@media (max-width: 768px) {
  .title {
      font-size: 2.5em; 
  }
  .subtitle {
      font-size: 1.5em;
  }
  .shop-button {
      font-size: 24px; 
      padding: 8px 16px; 
  }
}

@media (max-width: 480px) {
  .first-image {
      padding-top: 50px; 
      max-width: 100%;
  }
  .title {
      font-size: 2em; 
  }
  .subtitle {
      font-size: 1.2em; 
  }
  .shop-button {
      font-size: 20px; 
      padding: 6px 12px; 
  }
}