body {
  background-color: black;
}

.container {
  flex: 1;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  margin-top: 5%;
}

.subContainer {
  text-align: center;
}

.subtitleDesign {
  color: white;
}

h2 {
  color: white;
}

.imageContainer {
  text-align: center;
  margin-top: 20px;
}

.contactImage {
  width: 700px; /* Keeps aspect ratio */
  height: 450px; /* Set a smaller height */
  margin-bottom: 30px;
  border-radius: 10px;
}


.formAndLocationContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  flex-wrap: wrap; /* Makes it responsive */
}

.contactFormSection {
  width: 60%;
  margin-right: 2%;
}

.LocDescontainer {
  width: 35%;
  margin-left: 2%;
}

.storeLocDetails {
  background-color: rgb(67, 67, 67);
  width: 100%;
  height: auto;
  padding: 15px;
  color: white;
  margin-bottom: 20px;
  margin-top: 60px;
  border-radius: 8px;
}

.googleMapButton {
  background-color: #C5A580;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.googleMapButton:hover {
  background-color: #A88A6C;
}

.dividerLine {
  border: 1px solid grey;
  width:1035px;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}


.formGroup label {
  color: white;
  display: block;
  margin-bottom: 5px;
}

.formGroup input,
.formGroup textarea {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #838383;
  border-radius: 5px;
  background-color: #343434;
  color: white;
}

.formGroup input[type="text"],
.formGroup input[type="email"] {
  height: 35px;
}

.formGroup textarea {
  height: 80px;
  resize: none;
}

.submitButton {
  background-color: #C5A580;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block; 
  margin-bottom: 50px;
}

.submitButton:hover {
  background-color: #A88A6C;
}

.required {
  color: red;
}

.errorMessage {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}
